@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a120b;
  --background: #faf8f5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
